<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Aplikasi CatniusBot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bot_style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="text-warning">Catnius</span>Bot</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Cat Detection</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="jumbtron bg-success text-light p-5 text-sm-start" id="home">
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between py-5">
              <div>
                  <h1 style="font-family: cursive;">Hello Catlovers,</h1>
                  <h3 class="my-4 fs-2" style="font-family: 'Montserrat', sans-serif;">Selamat Datang di CatniusBot</h3>
                  <p class="lead fs-3">
                      Rekomendasi kesehatan terhadap kucing 
                  </p>
                  <button id="deteksi" class="btn btn-primary btn-lg">Get started</button>
              </div>
              <a href="">
                  <img class="img-fluid" width="500" src="{{ url_for('static', filename='images/bg.png') }}" alt="" >
              </a>
          </div>
      </section>
      

      <!-- about section -->
      <section id="about" class="about section-padding">
        <div class="container">
          <div class="text-center">
            <h2 class="fw-bold" style="font-family: cursive;">TENTANG CATNIUSBOT</h2>
            <h3 class="text-muted fst-italic fs-5" style="font-family: cursive;">About CatniuBot</h3>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text">
                <p class="text-sm-start" style="margin-right: 100px;">
                  Kucing umumnya rentan terhadap beberapa jenis penyakit kucing. Penyakit tersebut dapat timbul dari sebab yang berbeda, 
                  dan tidak semuanya menular. Namun, penyakit ringan seperti diare ataupun serangan kutu bisa membuat kucing Anda tidak nyaman. Selain itu, 
                  beberapa penyakit seperti leukemia dan cacing jantung (heartworm) dapat menjadi penyakit kucing yang mematikan, atau berdampak buruk pada kehidupan kucing Anda. Oleh karena itu, 
                  sangat penting sebagai pemilik kucing untuk mengawasi gejala dan tanda yang dapat mengindikasikan gangguan kesehatan pada kucing Anda. 
                  Mengidentifikasi dan mendeteksi beberapa masalah kesehatan yang paling umum dapat membantu Anda mendapatkan diagnosis yang 
                  tepat untuk penyakit kucing dan perawatannya pada waktu yang tepat, dan juga dapat menghindari penyakit kucing yang mematikan.</p>
                  <a href="" class="btn btn-warning">Learn More</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                <img src="{{ url_for('static', filename='images/contoh2.png') }}" alt="" class="img-fluid move-animation">
                <img src="{{ url_for('static', filename='images/contoh1.jpg') }}" alt="" class="img-fluid" style="margin: 12px 50px;">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Upload Gambar -->
      <section id="detection" class="bg-success p-5">
        <div class="container mt-md-5">
          <h2 style="font-family: cursive; font-weight: bold;" class="text-center">PREDIKSI PENYAKIT KUCING</h2>
          <h4 class="fst-italic fs-5 text-center" style="font-family: cursive; color:#fff;">Prediction of cat diseases</h4>
          <div class="row mt-5 mb-5">
              <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                  <div class="video-container">
                      <img src="{{ url_for('video_feed') }}" height="500px" width="600px">
                  </div>
              </div>
          </div>
      </div>  
    </section>


    <!-- Team Member -->
    <section id="team" class="text-center section-padding bg-primary">
      <h3 style="font-family: cursive; font-weight: bold;">TEAM JENIUS CATNIUSBOT</h3>
      <h4 class="fst-italic fs-5 p-4" style="font-family: cursive; color:#fff;">Team Genius CatniusBot</h4>
    <!-- </section>
    <section class="team-section section-padding" style="background-color: #eee;"> -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 col-sm-6">
                    <div class="card team-card" style="max-width: 18rem;">
                        <img src="{{ url_for('static', filename='images/team/rosyidah.jpg') }}" class="card-img-top" alt="Team Member 1">
                        <div class="card-body text-center">
                            <h5 class="card-title">Rosyidah Dwiyanti</h5>
                            <p class="card-text">AI/ML Engineer</p>
                        </div>
                        <div class="d-flex justify-content-evenly p-4">
                          <i class="bi bi-facebook"></i>
                          <i class="bi bi-linkedin"></i>
                          <i class="bi bi-envelope-fill"></i>
                          <i class="bi bi-whatsapp"></i>
                      </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card team-card" style="max-width: 18rem;">
                        <img src="{{ url_for('static', filename='images/team/Rafi.jpg') }}" class="card-img-top" alt="Team Member 2">
                        <div class="card-body text-center">
                            <h5 class="card-title">Rafi'ul Huda</h5>
                            <p class="card-text">AI/ML Engineer</p>
                        </div>
                        <div class="d-flex justify-content-evenly p-4">
                          <i class="bi bi-facebook"></i>
                          <i class="bi bi-linkedin"></i>
                          <i class="bi bi-envelope-fill"></i>
                          <i class="bi bi-whatsapp"></i>
                      </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card team-card" style="max-width: 18rem;">
                        <img src="{{ url_for('static', filename='images/team/salsabila.jpg') }}" class="card-img-top" alt="Team Member 3">
                        <div class="card-body text-center">
                            <h5 class="card-title">Salsabila Rahmi</h5>
                            <p class="card-text">UI/UX Designer</p>
                        </div>
                        <div class="d-flex justify-content-evenly p-4">
                          <i class="bi bi-facebook"></i>
                          <i class="bi bi-linkedin"></i>
                          <i class="bi bi-envelope-fill"></i>
                          <i class="bi bi-whatsapp"></i>
                      </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card team-card" style="max-width: 18rem;">
                        <img src="{{ url_for('static', filename='images/team/raita.jpg') }}" class="card-img-top" alt="Team Member 3">
                        <div class="card-body text-center">
                            <h5 class="card-title">Raita Juliah</h5>
                            <p class="card-text">UI/UX Designer</p>
                        </div>
                        <div class="d-flex justify-content-evenly p-4">
                          <i class="bi bi-facebook"></i>
                          <i class="bi bi-linkedin"></i>
                          <i class="bi bi-envelope-fill"></i>
                          <i class="bi bi-whatsapp"></i>
                      </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card team-card" style="max-width: 18rem;">
                        <img src="{{ url_for('static', filename='images/team/azmi.jpg') }}" class="card-img-top" alt="Team Member 3">
                        <div class="card-body text-center">
                            <h5 class="card-title">Azmi Muhammad Shiddiq</h5>
                            <p class="card-text">Data Science</p>
                        </div>
                        <div class="d-flex justify-content-evenly p-4 col-md-12">
                          <i class="bi bi-facebook"></i>
                          <i class="bi bi-linkedin"></i>
                          <i class="bi bi-envelope-fill"></i>
                          <i class="bi bi-whatsapp"></i>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
      <!-- Contact -->
      <section id="contact" class="section-padding bg-secondary-subtle">
        <div class="container">
          <div class="w-full px-4">
            <div class="max-auto text-center">
              <h3 style="font-family: cursive; font-weight: bold;">Contact Us</h3>
              <h4 class="text-muted fst-italic fs-5 p-3" style="font-family: cursive;">Hubungi Kami</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 p-3">
            <form>
              <div class="mb-3">
                  <label for="name" class="form-label">Nama Lengkap</label>
                  <input type="text" class="form-control" id="name" aria-describedby="name">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" aria-describedby="email">
                </div>
                <div class="mb-3">
                  <label for="pesan" class="form-label">Pesan</label>
                  <textarea class="form-control" id="pesan" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Kirim</button>
              </form>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- Footer section -->
      <section class="bg-dark p-3">
        <div class="container mt-5">
          <div class="row">
              <div class="col-lg-2 col-md-6 mb-4">
                  <h5 class="text-uppercase mb-3 text-white">Catnius Bot</h5>
                  <p style="margin-right: 5px;" class="fs-8 text-white">Catniusbot adalah sebuah aplikasi yang berguna untuk mendeteksi kesehatan terhadap kucing secara akurat dan efisien.
                  </p>
              </div>
              <div class="col-lg-2 col-md-6 mb-4">
                  <h5 class="text-uppercase mb-3 text-white">Link Penting</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Cat Detection</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-6 mb-4">
                  <h5 class="text-uppercase mb-3 text-white">Service</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Real time detection</a></li>
                      <li><a href="#">Image Detection</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                  <h5 class="text-uppercase mb-3 text-white">Kontak Kami</h5>
                  <address class="text-white">
                      Veteran RI Building 15th Floor Plaza Semanggi, 
                      Jl. Jend. Sudirman No.Kav. 50, RT.1/RW.4, 
                      Karet Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, 
                      Daerah Khusus Ibukota Jakarta 12930.<br><br>
                  </address>
              </div>
              <div class="col-lg-2 col-md-6 mb-4">
                <h5 class=" mb-3 text-white">Ikuti Kami</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i>  Twitter</a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i> linkedin</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> instagram</a></li>
                </ul>
            </div>
          </div>
      </div>
      </section>
    </section>
    
    

  <!-- Footer -->
  <footer class="footer bg-primary text-center text-white py-1">
          <p>&copy; 2023 Catniusbot. All rights reserved.</p>
  </footer>

  <div class="fixed-bottom">
      <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{{ url_for('static', filename='images/bot.png') }}" width="30" height="30" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header" style="text-align: left; margin-left:20px; color: #fff;">CatniusBot</h4>
                        <p class="chatbox__description--header" style="text-align: left; margin-left:20px; color: #fff;">Halo!! Saya CatniuBot, Apakah ada yang ingin ditanyakan terkait Cat Disease?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write message in here...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button>       
                    <img class="img-fluid" width="40" height="40"
                    src="{{ url_for('static', filename='images/chat.png') }}" alt="avatar">
                </button>
            </div>
        </div>
    </div>
  </div>
  
  <!-- File Script -->
  <script>
    $SCRIPT_ROOT = '{{ request.script_root|tojson }}';
    </script>
  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>